<div class="product-card">
    <div class="product-image">
        <img src="assets/images/test-image.png" alt="iPhone 9">
        <span class="discount-badge font-bold">- 12.96%</span>
    </div>
    <div class="product-info">
        <h2 class="product-title font-bold">iPhone 9</h2>
        <p class="product-description">
            An Apple mobile which is nothing like apple.
        </p>
        <div class="price">
            <span class="old-price"><span class="font-bold">549</span> USD</span>
            <span class="current-price"><span class="font-bold">470</span>  USD</span>
        </div>
        <div class="additional-info">
            <p>Brand: <span class="font-semi-bold">Apple</span></p>
            <p>Category: <span class="font-semi-bold">Smartphones</span></p>
            <p>In stock: <span class="font-semi-bold">94</span></p>
        </div>
        <div class="product-rating">
            <span class="rating-stars">⭐ 4.69</span>
            <span class="reviews-count">(11)</span>
        </div>
        <button class="add-to-cart-btn font-bold" (click)="addToCart.emit()">ADD TO CART</button>
    </div>
</div>