$green-light: #41CCCC;
$blue-dark: #1D2939;
$gray-light: #667085;
$gray-medium: #98A2B3;
$blue: #101828;
$blue-light: #344054;
$dark-gray: #1E1E1E;
$white: #FFFFFF;
$yellow: #F4B000;
$red: #df131b;
$black: #000000;

