@import "colors";
/* App Colors Names */
$error: $red;
$highlight: $green-light;
$gray-light: $gray-light;
$gray-medium: $gray-medium;
$main-font-color: $dark-gray;
$blue-light: $blue-light;
$white: $white;
$yellow: $yellow;
$blue: $blue;
$black: $black;
$blue-dark: $blue-dark;
$gray: $gray;
$border-color: $border-color;
