@import "colors";
/* App Colors Names */
$error: $red;
$disabled: $gray-light;
$highlight: $green-light;
$gray-light: $gray-light;
$main-font-color: $dark-gray;
$blue-light: $blue-light;
$white: $white;
$yellow: $yellow;
$blue: $blue;
