@import "app";
.products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: $dark-gray;
  margin: 4rem 6rem;
  .title {
    font-size: 30px;
  }
  .breadcrumb {
    display: flex;
    font-size: 18px;
  }
  .products-content {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    .filter {
      display: flex;
      flex-direction: column;
      width: 282px;
      height: fit-content;
      border: 1px solid $border-color;
      border-radius: 8px;
      padding: 1rem;
      gap: 1rem;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      li {
        font-size: 16px;
        color: $dark-gray;
      }

      input[type="radio"] {
        opacity: 0;
        position: absolute;
      }

      label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        display: inline-block;
      }

      label::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        border: 1px solid #00bcd4;
        border-radius: 50%;
        background-color: #fff;
      }

      input[type="radio"]:checked + label::before {
        background-color: $white;
        border-color: $green-light;
      }

      input[type="radio"]:checked + label::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $green-light;
      }
    }
    .products-cards {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .products-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
      }
    }
  }

}

.products-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  .cart {
    display: flex;
    gap: 1rem;
    .image {
      position: relative;
      img {
        width: 19px;
        height: 15px;
        margin-top: 4px;
      }
      .count {
        text-align: center;
        width: 16px;
        height: 16px;
        font-size: 10px;
        border: 2px solid $white;
        border-radius: 8px;
        background-color: $green-light;
        position: absolute;
        top: -4px;
        left: 10px;
      }
    }
    p {
      font-family: $inter-medium;
      font-size: 16px;
      color: $gray-light;
    }
  }
  //use ng deep overWrite the styles of the input-text component
  ::ng-deep app-input-text {
    .input-text {
      input {
        margin: unset;
        padding: 5px 10px;
        width: 60vw;
      }
      @include small-screen {
        input {
          width: 319px;
        }
      }
      .placeholder {
        color: $gray;
        font-family: $inter-medium;
        line-height: 14px;
        font-size: 14px;
      }
    }
  }
}
