<div class="products">
    <div class="title font-bold">
        {{ searchText ? searchText : selectedCategory }}
    </div>
    <div class="breadcrumb">
        <pre>Home</pre>
        <pre> / Products</pre>
        <pre [class.font-bold]="!!selectedCategory && !searchText">/ {{ selectedCategory }}</pre>
        <pre *ngIf="!!searchText" [class.font-bold]="!!searchText">/ {{ searchText }}</pre>
    </div>
    <div class="products-content">
        <div class="filter">
            <div class="font-bold">Products</div>
            <ul>
                <li *ngFor="let category of categories$ | async" class="font-regular">
                    <input
                            type="radio"
                            [id]="category"
                            name="productCategory"
                            [value]="category"
                            [(ngModel)]="selectedCategory"
                            (change)="onCategoryChange(selectedCategory)" />
                    <label [for]="category">{{ category }} (12)</label>
                </li>
            </ul>
        </div>
        <div class="products-cards">
            <div class="products-list">
                <app-product-card
                        *ngFor="let product of products$ | async"
                        [product]="product"
                        (addToCart)="addToCart($event)"></app-product-card>
            </div>
            <div class="pagination">
                <app-paginator
                        *ngIf="totalPages > 1"
                        [totalPages]="10"
                        [currentPage]="currentPage"
                        (pageChange)="onPageChange($event)"></app-paginator>
            </div>
        </div>
    </div>
</div>
<ng-template #headerTemplate>
    <div class="products-menu">
        <app-input-text
                [type]="'text'"
                [placeholder]="'search'"
                [inputCustomClass]="'with-icon'"
                [(ngModel)]="searchText"
                (ngModelChange)="onSearchChange($event)"></app-input-text>
        <div class="cart">
            <div class="image">
                <img src="assets/images/cart.png" alt="logo" />
                <div *ngIf="(cart$ | async).length as numberOfProducts" class="count">
                    {{ numberOfProducts }}
                </div>
            </div>
            <p>Account</p>
        </div>
    </div>
</ng-template>
